# Build
bin/
obj/

# NuGet
packages/
*.nupkg
*.snupkg

# Rider
.idea/
*.iml
/_ReSharper.Caches/

# Visual Studio
.vs/
*.user
*.suo

# .NET
*.dll
*.exe
*.pdb

# Variables de entorno y secretos
appsettings.Development.json
*.env
.env

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db